

    <section class="content sau">
        <h2 class="title">Galeria</h2>
    </section>
    <div class="datos">
        
        
        <div class="container">
            <div class="card" >
                <img src="././assets/iphone.jfif" id="3" alt="Avatar" style="width:100%">
                <h2 >Iphone 14</h2>
            </div>        
        
            <div class="card">
                <img  src="././assets/nintendo.jfif" id="4" alt="Avatar" style="width:100%">
                <h2 id="4">Nintendo switch</h2>
            </div>
            <div class="card" >
                <img src="././assets/pc.jpg" id="3" alt="Avatar" style="width:95%">
                <h2 id="5">Pc Gamer</h2>
            </div>
            <div class="card">
                <img src="././assets/xbox.jfif" id="3" alt="Avatar" style="width:100%">
                <h2 id="6">Xbox One Series S</h2>
            </div>
            <div class="card">  
                <img src="././assets/play.jpg" id="3" alt="Avatar" style="width:100%">        
                <h2 id="7">Playstation 5</h2>
            </div>
            <div class="card">
                <img src="././assets/audi.jpg" id="3" alt="Avatar" style="width:100%">
                <h2 id="8">Audifonos</h2>
            </div>

        </div>
    </div>    

