<body>

    

    

    <section class="content sau">

        <h2 class="title">Inicio</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing 
            elit. Veritatis excepturi dolore, harum asperiores 
            cupiditate officiis quia odit reiciendis quidem iure 
            architecto laudantium 
            nihil saepe pariatur vel labore molestias consectetur veniam?</p>
        
        

    </section>
    <div class="box-container">

        <div class="box">
            <i class="fab fa-angular"></i>
            <h3>Lorem</h3>
            <p>labore molestias consectetur veniam</p>
        </div>
        <div class="box">
            <i class="fab fa-apple"></i>
            <h3>Lorem</h3>
            <p>labore molestias consectetur veniam</p>
        </div>
        <div class="box">
            <i class="fab fa-android"></i>
            <h3>Lorem</h3>
            <p>labore molestias consectetur veniam</p>
        </div>

    </div>
    

    